<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="TestCases.LoginTest">
       <methods>
      <include name="testLogin"/>
      <include name="testReleaseSource"/>
      </methods>
      </class>
      <class name="TestCases.QuotedPrice">
       <methods>
       <include name="testQuotedPrice"/>
      <include name="testCargoOwnerComfirm"/>  
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
